body {
  font-size: 30px;
  text-align: center;
  color: black;
  font-size: 25px;
  background-color: white;
}

p {
  margin-right: 5px;
}
.dark-mode {
  background-color: black;
  color: white;
}

#choix_pays,
#bouton_select {
  margin: 30px;
  text-align: center;
  font-size: 30px;
}

#data {
  /* margin-left: -20%; */
  text-align: center;
}

.all_options {
  text-align: center;
}

select {
  text-align-last: center;
  padding-right: 29px;
  direction: ltr;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
